# SixArm.com → Ruby → GemForge
# Our default .gitignore rules
# Updated 2019-04-26T05:22:40Z
/.bundle
/.yardoc
!/.codeclimate/
!/.codeclimate.yml
!/.travis.yml
/coverage/
/coverage.data
/Gemfile.lock
/vendor/
